empty-adults-only/
empty-building-a-sentence/
empty-nested-loops/
empty-simple-iteration-of-a-collection/
empty-using-iteration-to-create-a-new-collection/
empty-using-iteration-to-filter-a-collection/
empty-using-the-power-of-of/